* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.main-div {
    background-color: #fff;
    background-image: linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0)25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);
    background-size: 6px 5px;
    background-position: 0 0, 10px 10px;
    background-size: 21px 21px;
    height: 590px;
}

.sub-div {
    position: relative;
}

.container {
    background-color: #90ee90;
    border-radius: 40px;
    position: absolute;
    margin-left: 400px;
    margin-top: 200px;
    text-align: center;
}


h1 {
    font-size: 20px;
    margin-right: 180px;
    margin-top: 10px;
}

h1::first-letter  {
    font-size: 25px;
    color: #008000;
}

em {
    background-color: #008000;
    font-size: 13px;
    margin-top: 150px;
}

main {
    height: 150px;
}

.text {
    margin-top: 20px;
}

h3 {
    position: relative;
    right: 100px;   
    line-height: 1.3;
}

img {
    position: relative;
    right: -120px;
    bottom: 120px; 
}

footer {
    background-color: #008000;
    margin-bottom: 50px;
}